<% layout("/layouts/boilerplate") %>
<!-- Maptiler Code -->
<script>
    const mapToken = "<%=process.env.MAPTILER_KEY%>";
    const listing = <%-JSON.stringify(listing)%>;
</script>
<div class="container mt-4">
    <!-- Listing Title -->
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h2><%= listing.title %></h2>
        </div>
    </div>

    <!-- Listing -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card listing-card show-card">
                <img class="card-img-top show-img" src="<%= listing.image.url %>" alt="Listing Image">
                <div class="card-body">
                    <p class="card-text">Owned By: 
                        <span class="text-danger">
                            <i><%= listing.owner.username %></i>
                        </span>
                    </p>
                    <p class="card-text"><%= listing.description %></p>
                    <p class="card-text">
                        <b>&#8377;<%= listing.price.toLocaleString("en-IN") %>/night</b>
                    </p>
                    <p class="card-text">
                        <span class="text-danger">Location:</span>
                        <%= listing.location %>
                    </p>
                    <p class="card-text">
                        <span class="text-danger">Country:</span>
                        <%= listing.country %>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit and Delete Button -->
    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark me-2 edit-btn">Edit</a>
        </div>
        <div class="col-auto">
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                <button class="btn btn-dark">Delete</button>
            </form>
        </div>
    </div>
    <% } %>

    <!-- Review -->
    <% if(currUser) { %>
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-6">
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating."/>

                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>

                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>

                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>

                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>

                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>

                <div class="mb-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" rows="4" class="form-control" id="comment" required></textarea>
                    <div class="invalid-feedback">
                        Please add some comments for review
                    </div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr>
        </div>
    </div>
    <% } %>

    <% if(listing.reviews.length > 0) { %>
    <div class="row mt-4">
        <div class="col-12">
            <h4 class="mb-3 text-center">All Reviews</h4>
        </div>

        <% for(review of listing.reviews) { %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body p-3">
                    <h5 class="card-title">@<%= review.author.username %></h5>
                    <p class="starability-result" data-rating="<%= review.rating %>"></p>
                    <p class="card-text"><%= review.comment %></p>
                    <% if(currUser && currUser._id.equals(review.author._id)) { %>
                    <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>

    <!-- Map -->
    <div class="row mt-5 mb-3">
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
            <h4 class="mb-3">Where You'll be</h4>
            <div id="map"></div>
        </div>
    </div>
</div>